<div id="strapline">
	<p>My route into <span class="highlighted">web design and development</span> has been unusual but now that I'm here, I'm loving doing my <span class="highlighted">favourite hobby as my job! <span </p>
</div>

<div id="main_content" class="narrow">
	<div class="about_section">
		<h1>About me</h1>			
		<div class="about_section_left">
			<p>Hi, thanks for visiting my site! I'm a web designer and developer from London, aged <%= age %>. I work for a travel company called The Palatinate Group whose major websites include YourGolfTravel.com and Spabreaks.com. I have worked in many different areas of the business, and have been involved in the development of web applications from both a technical and a client-side perspective.</p>
			<p> I have been a full-time Ruby on Rails developer for the past two years, but have also held roles as a web-designer and project manager with several big web projects to my name. I have also worked in online marketing and web performance analysis.</p>
			<p>Outside of work I have developed my own CMS which I use to run a number of websites (including this one!), such as that of my <%= link_to 'local parish of churches', 'http://www.sanderstead-parish.rg.uk' %>. Check out my <%= link_to 'github account', 'https://github.com/nicholashibberd' %> for my coding history.</p>
		</div>
		<div class="about_section_right">
			<div class="about_image">
				<%= image_tag 'sicily.jpg' %>
			</div>
		</div>
		<div class="spacer"></div>
	</div>
	
	<div class="about_section">
		<h2>Understanding geek speak</h2>					
		<div class="about_section_left">
			<p>My background is slightly unusual for someone in web design and web development, in that I had no academic interest in IT or Computing, and it was only having begun a career in marketing, specifically online marketing that I took an interest in the production of websites.</p>
			<p>Originally I was driven by a frustration probably familiar to a lot of non-technical people working in the online arena, that came from being talked down to by IT people who knew they understood how all this stuff worked, and that I didn’t.  Realising that my career was likely to remain in online marketing, I decided to arm myself with the basics, and set about learning HTML and CSS. </p>
			<p>My first site was a simple site that I put up for my 5-a-side football team, that I was pretty proud of at the time, but wouldn’t put my name to in a million years now! The bug had bitten though, and creating websites became my first passion. I went on to set up a few static sites for friends and family before experimenting with slightly more advanced stuff like the production of Wordpress templates, before moving into server side programming with PHP and Ruby on Rails. </p>
		</div>
		<div class="about_section_right">
			<div class="about_image">
				<%= image_tag 'code.jpg' %>
			</div>
		</div>
		<div class="spacer"></div>
	</div>
	
	<div class="about_section">
		<h2>Web design and development</h2>					
		<div class="about_section_left">
			<p>Initially this was just a hobby, but before long I realised that my strengths lay in web design and development, and I made the decision to follow this path in my career. Although in some respects I wish I’d made the decision earlier so as to follow an academic path in a programming related subject, I know that I’m now doing something that I love, and I don’t think I’d have made that realisation without spending the years enjoy web as a hobby rather than a vocation.</p>
			<p>I don’t therefore have the benefit of 10 years of programming behind me, but the advantage I definitely do have over more experienced developers is that I consider myself equally as strong a frontend as a backend. You can judge for yourself whether this portfolio does testament to this statement, but I’m pretty confident my design skills speak for themselves. Besides I’ve seen some of the design work that developers have produced in the past, and frankly it belongs in a furnace rather than a computer screen!</p>
			<p>I also have the benefit of having project managed the development of a couple of high profile sites from the client-side perspective, so I’m aware of the difficulties that can arise on both sides of the equation.</p>
			<p>Anyway, that’s a little bit about me. If anything I’ve said strikes a chord with you then by please get in touch <%= link_to 'via the contact form', '/pages/contact' %> or by emailing me at <b>nicholashibberd (at) gmail.com</b>.</p> 
			<p>I look forward to hearing from you!</p>
		</div>
		<div class="about_section_right">
			<div class="about_image">
				<%= link_to (image_tag 'github.png'), 'https://github.com/nicholashibberd' %>
			</div>
		</div>
		<div class="spacer"></div>
	</div>

</div>