<div id="strapline">
	<p>I have a passion for <span class="highlighted">web design</span> and a skill for creating <span class="highlighted">clean layouts</span> that ensure an <span class="highlighted">intuitive user experience</span></p>
</div>

<div id="main_content">
	<div id="index_items">
		<div class="index_item">
			<div class="index_item_inner">
				<div class="index_item_left">
					<h1>Sanderstead Parish</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<div class="index_item_buttons">
						<%= link_to 'View project', '/pages/sanderstead-parish', :class => 'btn btn-success' %>
						<%= link_to 'Visit live site', 'http://www.sanderstead-parish.org.uk', :class => 'btn btn-info' %>
					</div>
				</div>
				<div class="index_item_right">
					<%= image_tag 'sanderstead_parish/leader.jpg' %>
				</div>
			</div>
		</div>
	
		<div class="index_item">
			<div class="index_item_inner">
				<div class="index_item_left">
					<h1>YourGolfTours.com</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<div class="index_item_buttons">
						<%= link_to 'View project', '/pages/your-golf-tours', :class => 'btn btn-success' %>
						<%= link_to 'More information', 'http://www.yourgolftours.com', :class => 'btn btn-info' %>
					</div>
				</div>
				<div class="index_item_right">
					<%= image_tag 'yourgolftours/leader.jpg' %>
				</div>
			</div>
		</div>
	
		<div class="index_item">
			<div class="index_item_inner">
				<div class="index_item_left">
					<h1>YourGolfTravel.com</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<div class="index_item_buttons">
						<%= link_to 'View project', '/pages/your-golf-travel', :class => 'btn btn-success' %>
						<%= link_to 'More information', 'http://www.yourgolftravel.com', :class => 'btn btn-info' %>
					</div>
				</div>
				<div class="index_item_right">
					<%= image_tag 'yourgolftravel/leader.jpg' %>
				</div>
			</div>
		</div>
	
		<div class="index_item">
			<div class="index_item_inner">
				<div class="index_item_left">
					<h1>Longshot Golf</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<div class="index_item_buttons">
						<%= link_to 'View project', '/pages/longshot-golf', :class => 'btn btn-success' %>
						<%= link_to 'More information', 'http://www.longshotgolf.com', :class => 'btn btn-info' %>
					</div>
				</div>
				<div class="index_item_right">
					<%= image_tag 'longshot/leader.jpg' %>
				</div>
			</div>
		</div>
	
		<div class="index_item">
			<div class="index_item_inner">
				<div class="index_item_left">
					<h1>4Golf</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<div class="index_item_buttons">
						<%= link_to 'View project', '/pages/fourgolf', :class => 'btn btn-success' %>
					</div>
				</div>
				<div class="index_item_right">
					<%= image_tag '4golf/leader.gif' %>
				</div>
			</div>
		</div>
	
		<div class="index_item">
			<div class="index_item_inner">
				<div class="index_item_left">
					<h1>Andrew and Jenny</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<div class="index_item_buttons">
						<%= link_to 'View project', '/pages/andrew-and-jenny', :class => 'btn btn-success' %>
						<%= link_to 'View live site', 'http://www.andrew-and-jenny.co.uk', :class => 'btn btn-info' %>					
					</div>
				</div>
				<div class="index_item_right">
					<%= image_tag 'andrew_and_jenny/leader.jpg' %>
				</div>
			</div>
		</div>
	
		<div class="index_item">
			<div class="index_item_inner">
				<div class="index_item_left">
					<h1>FairwayToFurlong.com</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<div class="index_item_buttons">
						<%= link_to 'View project', '/pages/fairway-to-furlong', :class => 'btn btn-success' %>
						<%= link_to 'View live site', 'http://www.fairwaytofurlong.com', :class => 'btn btn-info' %>					
					</div>
				</div>
				<div class="index_item_right">
					<%= image_tag 'fairwaytofurlong/leader.jpg' %>
				</div>
			</div>
		</div>
	
		<div class="index_item">
			<div class="index_item_inner">
				<div class="index_item_left">
					<h1>House Accounts</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<div class="index_item_buttons">
						<%= link_to 'View project', '/pages/house-accounts', :class => 'btn btn-success' %>
						<%= link_to 'View live site', 'http://www.house-accounts.co.uk', :class => 'btn btn-info' %>					
					</div>
				</div>
				<div class="index_item_right">
					<%= image_tag 'house_accounts/leader.gif' %>
				</div>
			</div>
		</div>
	
		<div class="index_item">
			<div class="index_item_inner">
				<div class="index_item_left">
					<h1>Yellobric.com</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<div class="index_item_buttons">
						<%= link_to 'View project', '/pages/yellobric', :class => 'btn btn-success' %>
						<%= link_to 'View live site', 'http://www.yellobric.com', :class => 'btn btn-info' %>					
					</div>
				</div>
				<div class="index_item_right">
					<%= image_tag 'yellobric/leader.jpg' %>
				</div>
			</div>
		</div>
	
	</div>
</div>